mixin line
	.line
		.round

mixin linex(id)
	div(id=id)
		.line
			.round

mixin sectionHeader(header)
	.sectionHeader
		a(href="")= header

mixin articleContent(blogImgSrc, title, time, bodyText)
	article.Article
		.BlogImage
			img(src= blogImgSrc, alt="Nope")
		section.ArticleText
			h2= title
			small= time
			p= bodyText
		
